* {
    margin: 0;
    padding: 0;
}
body{
   background-color: #090a0d
}
.underdog {
    position: relative;
    margin: 0 auto;
    display:flex;

    flex-direction:column; 
    justify-content: space-between;
    align-content: center;
    
    width: 250px;
    height: 200px;
   
    border-radius: 20px;
    background-color:rgb(150, 128, 99);
}
.upperdog{
    position: inherit;
    margin: 0 auto;
    width: 250px;
    height: 60px;

    border-radius: 20px;
    background-color:tan;
}

#dog{

    position: inherit; 
    margin: 0 auto;
    left:-150px;
    background-color: #d97043;
    top:60px;
    width: 500px;
    height:80px;
    border-radius: 20px;

   
    animation-name: loading-bar;
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(.47,-0.36,.64,1.37);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.upper{
    width
    position: absolute;
    top:50px;
    left:auto
}
.lower{
    top: 60px;
}

.text{
    position: relative;
    width: 100%;
    height: 200px;
    top:200px;
    left:auto;
    text-align: center;
    font-size: 400%;
    font-family: 'Caveat', cursive;
    color:orangered;
    opacity: 0;
    
    


    animation-name: hotdog-time;
    animation-duration: 2s;
    animation-delay: 11s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    
}
.flame{
    position:static;
    width: 100%;
    height:300px;
    left:auto;
    top:400px;
    background-image: url(https://thumbs.gfycat.com/AbandonedAnguishedCatfish-size_restricted.gif);
    background-repeat: repeat-x;
   
}

@keyframes loading-bar{
    0% {left:-400px; background-color:pink}
    5% {left:-395px;}
    20% {left:-380px;}
    30% {left:-380px;}
    40%{left:-340px;}
    50%{left:-320px;}
    60%{left:-290px;}
    70%{left:-250px;}
    80%{left:-230px;}
    90%{left:-200px;}
    100% {left:-130px;}


}

@keyframes hotdog-time{
    0% {opacity:0 ;}
    100%{opacity:100 ;}
}
